@model bit285_assignment1_naps.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Password Information</h1>
<fieldset>
    <form method="post" asp-action="PasswordInfoPost">
        <div>
            <label>Last Name</label>
            <input asp-for="LastName" />
            <span>* required</span>
        </div>
        <div>
            <label>Birth year</label>
            <input asp-for="BirthYear" />
            <span>* required</span>
        </div>
        <div>
            <label>Favorite Color</label>
            <input asp-for="FavoriteColor" />
            <span>* required</span>
        </div>
        <div>
            <input type="submit" value="Suggest Password" />
            <input type="reset" value="Reset" />
        </div>
    </form>
</fieldset>
