@model bit285_assignment1_naps.Models.User
@inject bit285_assignment1_naps.Models.PasswordSuggestion PasswordSuggestion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Choose a Password</h1>
<fieldset>
    <form method="post" asp-action="SelectPasswordPost">
        <div>
            <label>Possible Passwords</label>
            <input asp-for="Password" />
        </div>
        <div>
            <input type="button" value="New Suggestion" onclick="location.reload();" />
            <input type="submit" value="Create Account" />
            <input type="reset" value="Reset" />
        </div>
    </form>
</fieldset>
