<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/naps.css" />
    <title>N.A.P.s - New Account</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
